*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea
pmip
*.iml
.rbx
.rspec
*.log
spec/integration/dummy/db/*.sqlite3
spec/integration/dummy/db/*.sqlite3-journal
spec/integration/dummy/tmp
spec/integration/dummy/.sass-cache
spec/integration/dummy/.generators
spec/integration/dummy/.rakeTasks
