_yardoc
.bundle
.config
.idea
.rbx
.rspec
.yardoc
*.gem
*.iml
*.lock
*.log
*.rbc
coverage
doc/
InstalledFiles
lib/bundler/man
pkg
pmip
rdoc
spec/integration/dummy/.generators
spec/integration/dummy/.rakeTasks
spec/integration/dummy/.sass-cache
spec/integration/dummy/db/*.sqlite3
spec/integration/dummy/db/*.sqlite3-journal
spec/integration/dummy/tmp
spec/reports
test/tmp
test/version_tmp
tmp
